@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat Regular"),
  url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat Medium"),
  url("../../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat SemiBold"),
  url("../../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat Bold"),
  url("../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

body {
  font-size: 16px;
  line-height: 24px;
  color: $txt-body;
  font-family: $font-family;
  background-color: $bg-gray;
}

h6, h5, h4, h3, h2, h1 {
  margin-bottom: 16px;
}

h1 {
  @include heading(heading-1);
}

h2 {
  @include heading(heading-2);
}

h3 {
  @include heading(heading-3);
}

h4 {
  @include heading(heading-4);
}

h5 {
  @include heading(heading-5);
}

h6 {
  @include heading(heading-6);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input:not([type="checkbox"]) {
  @include input();

  &[type="checkbox"] {
    @include checkbox(24px,icon-checkbox);
  }
}

button:not(.btn-action,.btn-quantity,.btn-reject,.btn-agree) {
  @include button();
}

table {
  width: 100%;

  thead {
    border: none;

    tr {
      th {
        vertical-align: middle;
        padding: 15px;
        border: 1px solid #ddd;
        font-weight: 700;
      }
    }
  }

  tbody {
    tr {
      td {
        vertical-align: middle;
        padding: 15px;
        border: 1px solid #ddd;

        &.btn-action {
          white-space: nowrap;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  font-weight: 600;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
select{
  @include select(icon-select);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  //margin: 0 -24px;
}

.visually-hidden {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;

  &.is-active {
    display: block;
  }
}

.notification {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: 6;
  transition: all 0.5s;

  &.is-active {
    //top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }

  .content-wrapper {
    position: relative;
    min-width: 360px;
    min-height: 200px;
    background-color: #fff;
    padding: 20px 20px 30px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, .1);
    transition: all 0.3s;
  }

  .icon-close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -23px;
    background-image: url("../../images/icon-success.png");
    background-repeat: no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
  }

  .heading {
    @include font-bold(28px, 32px, null);
    text-align: center;
    margin-top: 35px;
  }

  .pop-up-content {
    margin-top: 20px;
    text-align: center;
  }

  .btn-login {
    margin-top: 10px;
  }
}

.no-scrollable {
  height: 100%;
  overflow: hidden;
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 48px -8px 0 -8px;

  .pagination-item {
    font-weight: 600;
    color: $primary-color;
    padding: 7px 16px;
    border-radius: 4px;
    margin: 0 8px;
    background-color: #fff;

    &.is-active, &:hover {
      cursor: pointer;
      background-color: $primary-color;
      color: #fff;
    }
  }
}