.form {
  &-register,
  &-login {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, .1);

    .heading {
      font-size: 2rem;
    }

    .desc {
      text-align: center;
      color: #636d77;
      margin-top: 16px;
      font-weight: 300;
    }

    .form-group {
      display: flex;
      margin-bottom: 16px;
      flex-direction: column;
    }

    .form-label,
    .form-message {
      text-align: left;
    }

    .form-label {
      font-weight: 700;
      padding-bottom: 6px;
      font-size: 14px;
      line-height: 18px;
    }

    .form-control {
      height: 40px;
      padding: 8px 12px;
      border: 1px solid #b3b3b3;
      border-radius: 3px;
      outline: none;
      font-size: 14px;
    }

    .form-control:hover {
      border-color: #1dbfaf;
    }

    .form-group {
      position: relative;

      &.invalid {
        .form-control {
          border-color: #f33a58;
        }

        .form-message {
          color: #f33a58;
        }
      }

      &.success {
        .form-control {
          border-color: #4BB543;
        }
      }

      &.show-password {
        .icon-show-password {
          background-image: url("../../images/show-password.png");
        }
      }

      .icon-show-password {
        position: absolute;
        right: 12px;
        top: 34px;
        background-image: url("../../images/hide-password.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        width: 20px;
        height: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .form-message {
      font-size: 12px;
      line-height: 16px;
      padding: 4px 0 0;
    }
  }
}

.pop-up-form-register,
.pop-up-form-login,
.popup-confirm-delete-product {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  z-index: 5;

  &.is-active {
    top: 50%;
    opacity: 1;
    visibility: visible;
  }
}

.popup-confirm-delete-product {
  .content-wrapper {
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 4px;
    text-align: center;
  }

  .text {
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #eee;
  }

  .btn-action {
    display: flex;
    .btn {
      padding: 10px;
      border: none;
      background-color: #fff;
      width: 50%;
      &:hover{
        background-color: #fafafa;
      }

      &.btn-reject {
        border-bottom-left-radius: 4px;
        border-right: 1px solid #eee;
      }

      &.btn-agree {
        border-bottom-right-radius: 4px;
        font-weight: 600;
        color: $primary-color;
      }

    }
  }
}