.block {
  &-search {
    flex: 1;
    margin-right: 16px;

    &-inner {
      position: relative;
      max-width: 500px;

      .button-search {
        position: absolute;
        right: 2px;
        top: 2px;
        background-image: url("../../images/icon-search.png");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        width: 20px;
        height: 20px;
        padding: 22px;
        font-size: 0;
        background-color: #fdfdfd;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-categories {
    position: relative;

    &:hover {
      cursor: pointer;

      h6:after {
        transform: rotate(-180deg);
      }

      .menu {
        opacity: 1;
        visibility: visible;
      }
    }

    h6 {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0;

      &:after {
        content: "";
        display: inline-block;
        background-image: url("../../images/arrow-down.png");
        background-repeat: no-repeat;
        background-size: 14px;
        width: 14px;
        height: 14px;
        transition: all 0.3s;
      }
    }

    .menu {
      position: absolute;
      top: 50px;
      right: 0;
      visibility: hidden;
      opacity: 0;
      min-width: 300px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
      z-index: 4;

      .menu-item {
        border-bottom: 1px solid #f5f4f4;
        padding: 12px 15px;
      }
    }
  }

  &-cart {
    &:hover {
      cursor: pointer;
    }

    .cart {
      display: block;
      width: 20px;
      height: 20px;
    }

    .icon-cart {
      display: inline-block;
      background-image: url("../../images/shopping-cart.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px;
      width: 25px;
      height: 25px;
      margin-top: 2px;
      position: relative;

      .quantity {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        top: -13px;
        right: -12px;
        background-color: $primary-color;
      }
    }
  }

  &-user {
    position: relative;

    &:hover {
      cursor: pointer;

      .menu {
        opacity: 1;
        visibility: visible;
      }
    }

    .icon-user {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;

      &:before {
        content: "";
        display: inline-block;
        background-image: url("../../images/user.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        width: 25px;
        height: 25px;
      }
    }

    .menu {
      position: absolute;
      top: 50px;
      right: 0;
      visibility: hidden;
      opacity: 0;
      min-width: 200px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
      z-index: 4;

      .menu-item {
        border-bottom: 1px solid #f5f4f4;
        padding: 12px 15px;

        button {
          width: 100%;
        }
      }
    }
  }

  &-navigation-mobile {
    position: fixed;
    top: 0;
    left: -320px;
    background-color: #fff;
    height: 100vh;
    width: 320px;
    z-index: 5;
    transition: all 0.35s;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;

    .heading {
      padding: 10px 16px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: #000;
      border-bottom: 1px solid #eee;
    }

    .menu {
      > .menu-item {
        > span, a {
          display: block;
          font-size: 14px;
          font-weight: 600;
          color: #000;
          padding: 12px 16px;
          border-bottom: 1px solid #eee;

          &:hover {
            cursor: pointer;
            background-color: #fafafa;
          }
        }

        &.menu-item-expanded {
          &.is-active {
            > span {
              border-bottom: none;
              background-color: #eee;

              &:after {
                transform: rotate(0);
              }
            }

            > .sub-menu {
              grid-template-rows: 1fr;
            }
          }

          > span {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:after {
              content: "";
              display: inline-block;
              background-image: url("../../images/arrow-down.png");
              background-repeat: no-repeat;
              background-size: 14px;
              width: 14px;
              height: 14px;
              transform: rotate(-90deg);
              transition: all 0.3s;
            }
          }

          > .sub-menu {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows .3s ease;

            > .menu {
              overflow: hidden;
              background-color: #fafafa;

              .menu-item > span {
                padding-left: 32px;
              }
            }
          }
        }
      }
    }

    .block-account {
      margin-top: auto;

      button {
        background-color: unset;
        border: none;
        border-radius: 0;
        color: #121212;
        text-align: center;
        width: 100%;

        &.btn-login {
          border-right: 1px solid #eee;
        }
      }

      .menu {
        display: flex;
        border-top: 1px solid #eee;

        .menu-item {
          width: 50%;

          &.menu-item-user-logout {
            width: 100%;
          }
        }
      }
    }
  }
}
