.header {
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 0 3px 37px rgb(0, 0, 0, .07);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  &.fixed {
    transition: all 0.35s ease-out;
  }

  .row {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  .logo {
    @include font-bold(32px, 28px, null);
    text-decoration: none;
    margin-right: 16px;
  }

  .block {
    padding-bottom: 20px;

    &-wrapper {
      display: flex;
      margin-right: 16px;
      gap: 16px;
      justify-content: flex-end;
      flex: 1;
    }
  }
}

.main-content {
  margin-top: 48px;
  margin-bottom: 48px;

  .section-product-list {
    margin-top: 24px;
  }
}

.section {
  .header-content {
    @include heading(heading-4);
    margin-bottom: 24px;
  }

  .view-content-wrapper {
    @include flex-layout(four, 24px);

    .view-row-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        box-shadow: 0 15px 25px -4px rgba(150, 150, 150, 0.45);
        transition: all 0.3s linear;

        .view-field-image:after {
          opacity: 1;
          visibility: visible;
        }

        .product-buttons {
          opacity: 1;
          visibility: visible;

          .action button {
            transform: translateY(0);
          }
        }
      }
    }

    .view-field-image {
      padding: 40px;
      background-color: #f8f9fa;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        opacity: 0;
        visibility: hidden;
        inset: 0;
        background-color: rgba(241, 142, 125, 0.7);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: opacity 0.4s;
      }

      img {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        aspect-ratio: 1;
        box-shadow: 9px 10px 5px 0 rgba(92, 92, 92, .2);
        object-fit: contain;
      }

      .product-buttons {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        z-index: 2;
      }

      .action {
        position: relative;

        &:hover {
          span {
            opacity: 1;
            visibility: visible;
          }

          .btn-action {
            background-color: #1d2530;

            &.btn-quick-view {
              background-image: url("../../images/eye-white.png");
            }

            &.btn-add-to-cart {
              background-image: url("../../images/shopping-cart-white.png");
            }
          }
        }

        span {
          position: absolute;
          top: -35px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 3;
          white-space: nowrap;
          background-color: #1d2530;
          font-size: 12px;
          padding: 0 11px;
          color: #fff;
          border-radius: 2px;
          pointer-events: none;
          transition: opacity 0.35s ease;
          opacity: 0;
          visibility: hidden;

          &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: -4px;
            left: 50%;
            margin-left: -4px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #1d2530;
          }
        }

        .btn-action {
          display: block;
          width: 45px;
          height: 45px;
          border-radius: 5px;
          background-color: #fff;
          background-repeat: no-repeat;
          background-size: 17px;
          background-position: center;
          transform: translateY(20px);
          border: none;
          outline: none;

          &.btn-quick-view {
            background-image: url("../../images/eye.png");
            transition: transform 0.3s, background-color 0.3s;
          }

          &.btn-add-to-cart {
            background-image: url("../../images/shopping-cart.png");
            transition: transform 0.6s, background-color 0.3s;
          }
        }
      }
    }

    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: #fff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .view-field-category {
      display: inline-block;
      @include font-medium(14px, inherit, #606775);
      letter-spacing: -0.1px;
      margin-bottom: 8px;
    }

    .view-field-title {
      a {
        display: inline-block;
        @include font-bold(20px, 28px, #121823);
        margin-bottom: 4px;
      }
    }

    .view-field-author {
      margin-bottom: 16px;

      span {
        color: #9199A6;
      }

      .author-title {
        font-weight: 600;
        color: #1d2530;
      }
    }

    .view-field-price {
      margin-top: auto;

      p {
        @include font-semiBold(18px, 22px, $primary-color);
        margin: 0;
      }
    }
  }

  &-product-in-cart {
    .product-content-wrapper {
      .views-row {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .cart-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      box-shadow: $shadow;
      padding: 20px 40px;
      border-radius: 10px;
      margin-bottom: 24px;
      @include font-bold(18px, 28px, #121212);

      .heading-product:not(.heading-product-title) {
        flex: 0 0 15%;
        text-align: center;
      }

      .heading-product-title {
        flex: 0 0 40%;
      }
    }

    .view-row-content {
      display: flex;
      align-items: center;
      padding: 20px 40px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: $shadow;

      .view-field-inner {
        display: flex;
        align-items: center;
      }

      .view-field {
        flex: 1;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 500;
      }
    }

    .view-field-image {
      padding: 25px;
      background-color: #f8f9fa;
      border-radius: 10px;
      position: relative;
      flex: 0 0 calc(25% - 16px);

      img {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        aspect-ratio: 1;
        box-shadow: 9px 10px 5px 0 rgba(92, 92, 92, .2);
      }
    }

    .product-group {
      flex: 1;
      margin-left: 16px;
    }

    .view-field-category {
      display: inline-block;
      @include font-medium(14px, inherit, #606775);
      letter-spacing: -0.1px;
      margin-bottom: 8px;
    }

    .view-field-title {
      flex: 0 0 50%;

      a {
        display: inline-block;
        font-weight: 600;
        margin-bottom: 4px;
      }
    }

    .view-field-author {
      margin-bottom: 16px;

      span {
        color: #9199A6;
      }

      .author-title {
        font-weight: 600;
        color: #1d2530;
      }
    }

    .view-field-sub-total {
      margin: 0;
      color: $primary-color;
      font-weight: 600;
    }

    .view-field-quantity-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 4px;
      border: 2px solid #eee;
      min-width: 80%;
      font-weight: 600;
      //font-size: 12px;
      .quantity {
        position: relative;
        padding: 0 10px;
      }

      .tool-tip {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        white-space: nowrap;
        background-color: #1d2530;
        font-size: 12px;
        padding: 0 11px;
        color: #fff;
        border-radius: 2px;
        pointer-events: none;
        transition: opacity 0.35s ease;
        opacity: 0;
        visibility: hidden;

        &.is-active {
          opacity: 1;
          visibility: visible;
        }

        &:after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          bottom: -4px;
          left: 50%;
          margin-left: -4px;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #1d2530;
        }
      }
    }

    .btn-quantity {
      border: none;
      outline: none;
      width: 40px;
      height: 40px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;

      &.btn-quantity-minus {
        background-image: url("../../images/icon-minus.png");
        border-right: 2px solid #eee;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &.btn-quantity-plus {
        background-image: url("../../images/icon-plus.png");
        border-left: 2px solid #eee;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    .footer-product {
      position: sticky;
      z-index: 3;
      bottom: 0;
      box-shadow: 0px -10px 20px 5px rgba(150, 150, 150, 0.24);
      margin-top: 24px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        background: linear-gradient(transparent, rgba(0, 0, 0, .06));
      }
    }

    .footer-product-inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 32px;
      padding: 15px 40px;
      background-color: #fff;
      border-top: 1px dotted #ddd;
    }

    .total-price {
      @include font-bold(20px, 28px, #121212);

      & > span {
        font-weight: 600;
        color: $primary-color;
      }
    }
  }

  &-product-by-search {
    width: 100%;
  }
}

//.sidebar-left {
//  order: 1;
//  flex: 0 0 calc(calc(100% / 4) - 48px);
//  margin: 0 24px;
//  background-color: #fff;
//  padding: 20px;
//  border-radius: 4px;
//}

.countResults {
  flex: 0 0 100%;
  margin-bottom: 48px;
  text-align: center;
  @include font-medium(20px, 30px, inherit);

  b {
    color: $primary-color;
  }
}

.filter-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: $shadow;
  margin-bottom: 48px;

  .filter-search-item {
    flex: 0 0 calc(25% - 16px);
    padding: 0 8px;

    label {
      @include heading(heading-6);
      margin-bottom: 16px;
    }

    select {
      min-width: 100%;
    }
  }

  .category {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      font-size: 14px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .filter-button-search {
    display: flex;

    button {
      margin-top: auto;
    }
  }
}


.footer {
  padding: 100px;
  background-color: #000;
}